# Sentiment Analysis of Fake News

#### STEP 1 : Importing python libraries

In [64]:
import pandas as pd
from watson_developer_cloud import ToneAnalyzerV3
import json

print ("--> loaded libraries..")

--> loaded libraries..

#### STEP 2 : Initial setup

In [253]:
dataset = pd.read_csv('/home/robomex/dataset/dataset_9/fake_mini.csv')
dataset.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'id', 'Unnamed:17'], inplace=True)
dataset.columns = dataset.columns.str.replace('scraped_at','articles')
tone_analyzer = ToneAnalyzerV3(
                    username = "404c0d53-3afa-4c6a-8029-9abda9feb22f",
                    password = "MTOG8sOMMPm4",
                    version='2017-09-21')
columns = ['id', 'Anger', 'Fear', 'Joy', 'Sadness', 'Analytical', 'Confident', 'Tentative']
output = pd.DataFrame(columns=columns)
print ("--> variables initialized...")

--> variables initialized...

#### STEP 3 : Sentiment Analysis using IBM Watson Tone Analyzer

In [254]:
def get_analyzed_dataframe(text, index):
    tone = tone_analyzer.tone(
                {'text': text},
                'application/json'
            ).get_result()

    d = {'id': [index], 'Anger': [0], 'Fear': [0], 'Joy': [0], 'Sadness': [0], 'Analytical': [0], 'Confident': [0],'Tentative': [0]}
    
    # add scores in a dictionary
    for i in tone['document_tone']['tones']:
        d[i['tone_name']] = [i['score']]

    return pd.DataFrame(d)

In [255]:
for i in range(1,11):
    output = output.append(get_analyzed_dataframe(dataset.articles[i], i), sort=True)

output.reset_index()
output

   Analytical     Anger Confident      Fear       Joy   Sadness  Tentative  id
0    0.774700  0.500013         0  0.611546         0  0.539330   0.515356   1
0    0.000000  0.000000         0  0.000000  0.607295  0.590049   0.554307   2
0    0.000000  0.000000         0  0.000000  0.603601  0.000000   0.000000   3
0    0.796518  0.000000         0  0.000000         0  0.000000   0.668336   4
0    0.508946  0.000000         0  0.607824  0.502397  0.543475   0.000000   5
0    0.836891  0.000000         0  0.000000  0.550969  0.000000   0.000000   6
0    0.826949  0.000000         0  0.000000         0  0.542852   0.000000   7
0    0.611826  0.000000         0  0.000000  0.546519  0.556129   0.000000   8
0    0.000000  0.503761         0  0.000000         0  0.000000   0.689515   9
0    0.000000  0.000000         0  0.000000  0.529791  0.503623   0.630411  10